* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgb(206, 197, 216);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(243, 233, 255);
}

/* Display section */
.display-container {
  grid-column: span 4;
  padding-bottom: 12px;
}

.display {
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  text-align: right;
}

/* Buttons */
button {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  transform: scale(0.95);
}


.number,
.operator,
.refresh {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}


@media (max-width: 480px) {
  .container {
    gap: 6px;
    padding: 15px;
  }

  button {
    padding: 15px;
    font-size: 1.2rem;
  }

  .display {
    font-size: 1.8rem;
  }
}
